cfitsio
click
dask
des-desmeds
des-easyaccess
des-pizza-cutter>=0.2.5
des-sxdes
distributed
esutil
fitsio
flake8
galsim
hexalattice
jinja2
joblib
loky
lsstdesc.weaklensingdeblending
meds
metadetect
mpi4py
ngmix
numba
numpy
piff
pip
pixmappy
psfex
pytest
pyyaml
scipy
sep
setuptools
tqdm
