numpy
scipy
galsim
fitsio
pyyaml
numba
meds
ngmix
click
esutil
sep
joblib
jinja2
tqdm
cfitsio
pip
setuptools
flake8
pytest
schwimmbad
mpi4py
piff
pixmappy
psfex
des-desmeds
des-easyaccess
metadetect
des-pizza-cutter>=0.2.5
